.side-by-side {
    float: left;
    margin-right: 10px;
}

.scoreboard {
    width: 400px;
    height: 900px;
    min-height: 900px;
    font-size: 18px;
    padding: 10px;
}


#left, #down, #right, #up {
    padding: 0.1em 0.6em;
}
#p, #q, #r, #enter {
    padding:0.1em 0.1em;
}
#gl-canvas, .scoreboard, .mobile-controls{
    border: 7px solid darkgreen;
}

html {
    background-color: black;
    color: white;
    font-family: "Lucida Console", Monaco, monospace;
}
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#main-canvas {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
    box-sizing: content-box; /* So the width will be 100% + 17px */

}
.title {
    text-align: center;
}

#paused {
    color: red;
    animation: blinker 1s linear infinite;
    text-align: center;
}

#legend-text-wrapper {
    padding-left: 10px;
    font-size: 25px;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

#controls-list {
    list-style: none;
    margin-top: 0;
}

#controls-header, #colors-select-name {
    margin-bottom: 0;
}

#begin {
    color: green;
    text-align: center;
    animation: blinker 1s linear infinite;
}

.controls-subheader {
    font-size: 12px;
}

.hud {
    font-size: 40px;
    color: white;
    position: fixed;
    z-index: 999;
}


#chat-form-wrapper {
    position: fixed;
    bottom: 0;
    right: 0;
}

#chat-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
}

#chat-messages {
    width: 300px;
    color: lightgrey;
    font-size: 20px;
    word-wrap: break-word;

}

#info-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    text-align: right;

}

#info-messages {
    width: 300px;
    color: lightgrey;
    font-size: 20px;
    word-wrap: break-word;
    text-align: right;
}
.username {
    color: #00c1b3;
}
