.side-by-side {
    float:left;
    margin-right:10px;
}

#left,#down,#right,#up {
    padding:.1em .6em;
}

#p,#q,#r,#enter {
    padding:.1em;
}

html {
    background-color:#000;
    color:#FFF;
    font-family:"Lucida Console", Monaco, monospace;
}

body {
    height:100%;
    overflow:hidden;
    width:100%;
}

#main-canvas {
    box-sizing:content-box;
    height:100%;
    overflow-y:scroll;
    padding-right:17px;
    width:100%;
}

.title {
    text-align:center;
}

#paused {
    animation:blinker 1s linear infinite;
    color:red;
    text-align:center;
}

#legend-text-wrapper {
    font-size:25px;
    padding-left:10px;
}

#controls-list {
    list-style:none;
    margin-top:0;
}

#controls-header,#colors-select-name {
    margin-bottom:0;
}

#begin {
    animation:blinker 1s linear infinite;
    color:green;
    text-align:center;
}

.controls-subheader {
    font-size:12px;
}

.hud {
    color:#FFF;
    font-size:40px;
    position:fixed;
    z-index:999;
}

#chat-form-wrapper {
    bottom:5px;
    position:fixed;
    right:20px;
}

#chat-wrapper {
    bottom:5px;
    left:20px;
    position:fixed;
}

#chat-messages {
    color:#D3D3D3;
    font-size:20px;
    width:300px;
    word-wrap:break-word;
}

#info-wrapper {
    position:fixed;
    right:20px;
    text-align:right;
    top:5px;
}

#info-messages {
    color:#D3D3D3;
    font-size:20px;
    text-align:right;
    width:300px;
    word-wrap:break-word;
}

.username {
    color:#00c1b3;
}

.player-username {
    color:#c19605;
}

.crosshair {
    background-color:#bb0069;
    border-radius:50%;
    display:inline-block;
    height:10px;
    width:10px;
}

.arrow {
    border: solid #bb0011;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 5px;
    opacity: 1.0;
}
.friendly-arrow {
    border-color: #00bb04;
}

.hitmarker-line {
    border-left: 3px solid #73787a;
    min-width: 5px;
    min-height: 20px;
    opacity: 0.5;
}

#hitmarker-line-up-right {
    right: 47.9%;
    top: 46%;
    transform: rotate(45deg)
}
#hitmarker-line-up-left {
    left: 48.1%;
    top: 46%;
    transform: rotate(-45deg)
}
#hitmarker-line-down-right {
    right: 47.9%;
    bottom: 46%;
    transform: rotate(-45deg)
}
#hitmarker-line-down-left {
    left: 48.1%;
    bottom: 46%;
    transform: rotate(45deg)
}
#hitmarker-line-right {
    right: 49.75%;
    top: 40%;
}
#crosshair {
    bottom: 49.75%;
    left: 49.75%;
    opacity: 0.7;
}
#damage-indicator {
    bottom: 55.5%;
    left: 55.5%;
    opacity: 0.6;
    font-size: 30px;
    color:#c10018;
}

#health-wrapper {
    bottom:5px;
    position:fixed;
    right:20px;
    text-align:right;
}

#health {
    color:#c10018;
}

#scoreboard,#pause-menu {
    background-color:#4e555b;
    border:7px solid #006400;
    color:#defff1;
    font-size:18px;
    margin-left:500px;
    opacity:0.8;
    padding:10px;
    position:fixed;
    text-align:left;
    top:30%;
    width:500px
}

#pause-menu {
    top:40px;
}

#scoreboard th,td {
    border:2px solid #000;
    padding-left:20px;
}

#scoreboard tr {
    padding-left:20px;
    width:100%;
}
#map-wrapper {
    background-color: #32383e;
    margin:15px;
    min-width: 210px;
    min-height: 210px;
    opacity: 0.5;
    border: 4px solid #000;
}

#snipe{
    width:100%; height:100%;
    margin:0 auto;
    overflow:hidden;
}
#snipe:after{
    content:'';
    position:absolute;
    left:15%; top:5%;
    border-radius:100%;
    width:70%; height:90%;
    box-shadow: 0px 0px 0px 2000px #000000;
}

#snipe-vertical-line {
    left: 49.75%;
    min-height: 100%;
    height: 100%;
    width: 5px;
    border-left: thick solid #000000;
}

#snipe-horizontal-line {
    top: 49.75%;
    min-width: 100%;
    width: 100%;
    height: 5px;
    border-bottom: thick solid #000000;
}

