.side-by-side {
    float:left;
    margin-right:10px;
}

#left,#down,#right,#up {
    padding:.1em .6em;
}

#p,#q,#r,#enter {
    padding:.1em;
}

html {
    background-color:#000;
    color:#FFF;
    font-family:"Lucida Console", Monaco, monospace;
}

body {
    height:100%;
    overflow:hidden;
    width:100%;
}

#main-canvas {
    box-sizing:content-box;
    height:100%;
    overflow-y:scroll;
    padding-right:17px;
    width:100%;
}

.title {
    text-align:center;
}

#paused {
    animation:blinker 1s linear infinite;
    color:red;
    text-align:center;
}

#legend-text-wrapper {
    font-size:25px;
    padding-left:10px;
}

#controls-list {
    list-style:none;
    margin-top:0;
}

#controls-header,#colors-select-name {
    margin-bottom:0;
}

#begin {
    animation:blinker 1s linear infinite;
    color:green;
    text-align:center;
}

.controls-subheader {
    font-size:12px;
}

.hud {
    color:#FFF;
    font-size:40px;
    position:fixed;
    z-index:999;
}

#chat-form-wrapper {
    bottom:0;
    position:fixed;
    right:0;
}

#chat-wrapper {
    bottom:0;
    left:0;
    position:fixed;
}

#chat-messages {
    color:#D3D3D3;
    font-size:20px;
    width:300px;
    word-wrap:break-word;
}

#info-wrapper {
    position:fixed;
    right:0;
    text-align:right;
    top:0;
}

#info-messages {
    color:#D3D3D3;
    font-size:20px;
    text-align:right;
    width:300px;
    word-wrap:break-word;
}

.username {
    color:#00c1b3;
}

.player-username {
    color:#c19605;
}

#crosshair {
    background-color:#bb0069;
    border-radius:50%;
    bottom:50%;
    display:inline-block;
    height:10px;
    right:50%;
    width:10px;
}

#health-wrapper {
    bottom:0;
    position:fixed;
    right:0;
    text-align:right;
}

#health {
    color:#c10018;
}

#scoreboard,#pause-menu {
    background-color:#4e555b;
    border:7px solid #006400;
    color:#defff1;
    font-size:18px;
    margin-left:250px;
    opacity:0.8;
    padding:10px;
    position:fixed;
    text-align:left;
    top:30%;
    width:500px;
}

#pause-menu {
    top:0;
}

#scoreboard th,td {
    border:2px solid #000;
    padding-left:20px;
}

#scoreboard tr {
    padding-left:20px;
    width:100%;
}